* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(209, 213, 219);
}

svg {
  width: 2em;
  height: 1.6em;
}
svg path {
  stroke: #fff !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
